/*HEADER-BANNER*/
.banner {
  background-color: #34baab; }

.animacion {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(18) 0s infinite normal both; }

@keyframes typing {
  from {
    width: 0%; }
  to {
    width: 110%; } }

/*MAPA DE ESTILOS PARA ICONOS DE REDES SOCIALES*/
.btn--facebook {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 35px; }

.btn--instagram {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 35px; }

.btn--whatsapp {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 35px; }

/*FOOTER*/
footer {
  height: 100%;
  width: 100%;
  margin-top: 0%;
  background-color: #466067; }

/*ENLACES A REDES SOCIALES EN EL FOOTER*/
.bi-facebook:hover {
  color: #3b5998; }

.bi-instagram:hover {
  color: #8a3ab9; }

.bi-whatsapp:hover {
  color: #25d366; }

body {
  background-image: radial-gradient(circle, #bed7e5, #c4c8c5); }

/*NAV*/
.colorNav {
  background-image: linear-gradient(to left, #484450, #6c757d); }

.colorlink {
  font-size: 20px;
  padding: 1rem;
  text-decoration: none;
  text-decoration-line: none;
  color: white; }
  .colorlink:hover {
    color: #34baab; }

/*Boton de la page Contacto*/
.boton, .boton--inscribite {
  width: 20vw;
  height: 7vh;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #484450;
  transition: all 2s; }
  .boton:hover, .boton--inscribite:hover {
    width: 25vw;
    height: 9vh;
    font-size: 1.5rem;
    background-color: #1f1f26; }

.boton--inscribite {
  width: 20vw;
  background-color: #34baab;
  transition: all 4s; }

.bordeRojo {
  border-color: red;
  border-width: 2px;
  border-style: solid; }

.bordeAzul {
  border-color: blue;
  border-width: 2px;
  border-style: solid; }

.bordeVerde {
  border-color: green;
  border-width: 2px;
  border-style: solid; }

.imagenesGaleria {
  padding: 10px; }
  .imagenesGaleria:hover {
    transform: scale(1.2, 1.2); }
