@import 'utilities/variables';
@import 'layout/global';
@import 'layout/header';
@import 'layout/footer';

 /*Boton de la page Contacto*/
 .boton{
     width: 20vw;
     min-height: 7vh;
     border-radius: 10px;
     margin-bottom: 10px;
     color: white;
     background-color: $colorDos;
     transition: all 2s;
    
     &:hover{
        width: 25vw;
        height: 9vh;
        font-size: 1.5rem;
        background-color: rgb(31, 31, 38) ;
     }
  }
 
 .boton--inscribite{
    @extend .boton;
    width: 20vw;
    background-color: $colorUno;
    transition: all 4s;
 }
  
// Estilos para la galeria

.imagenesGaleria{
    padding: 10px;

    &:hover{
        transform: scale(1.2,1.2);
    }

}
 