@import 'utilities/variables';

/*MAPA DE ESTILOS PARA ICONOS DE REDES SOCIALES*/

$iconosRedes:(
    facebook: #fff,
    instagram: white,
    whatsapp: white
);

$estilosRedes:(
    tFuente: 30px,
    tAlineacion: center,
    margenIzquierdo: 5px,
    margenDerecho: 35px
);

@each $icono, $color in $iconosRedes {
    .btn--#{$icono}{
        color: $color;
        font-size: map-get($estilosRedes, tFuente);
        text-align: map-get($estilosRedes, tAlineacion);
        margin-left: map-get($estilosRedes, margenIzquierdo);
        margin-right: map-get($estilosRedes, margenDerecho);
    }
}


/*FOOTER*/
footer{
    height: 100%;
    width: 100%;
    margin-top: 0%;
    background-color: $colorTres;
    display: flex;
    justify-content: center;
}
/*ENLACES A REDES SOCIALES EN EL FOOTER*/
.bi-facebook:hover{
    color: #3b5998;
}
.bi-instagram:hover{
    color: #8a3ab9;
}
.bi-whatsapp:hover{
    color: #25d366;
}