/*HEADER-BANNER*/
.banner{
    background-color: $colorUno;
}
.animacion{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(18) 0s infinite normal both;
}
@keyframes typing{
    from{
        width: 0%;
    }    
    to{
        width: 110%;
    }
}